/*  General   */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */

header {
  background: #155f8d;
  min-height: 10rem;
  display: flex;
  align-content: space-between;
  justify-content: center;
  border-bottom: #e8491d solid 4px;
}

header .highlight {
  color: #e8491d;
}

header #branding {
  float: left;
}

header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header nav {
  float: right;
  margin-top: 2.2rem;
}

header li {
  display: inline;
  padding: 10px;
}

header a:hover {
  color: #e8491d;
  font-weight: bold;
}

/*  Styling the showecase */

#showcase h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 150px;
  line-height: 33px;
}

#showcase {
  background-image: url("./images/image1.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/*  Styling the boxes  */

#boxes {
  background-color: rgb(4, 36, 78);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.box img {
  max-width: 100%;
}

.box {
  text-align: center;
}

/*   styling the first section of text   */

#first-section {
  background: #155f8d;
  padding-top: 10px;
}

#first-section h1 {
  text-align: center;
  text-transform: uppercase;
}

#first-section p {
  font-size: 20px;
  line-height: 25px;
}

/*  styling the about page   */

#introduction {
  background: #115c8b;
  margin: auto;
  width: 80%;
  overflow: scroll;
}

#introduction img {
  height: 500px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#introduction h2 {
  color: white;
  text-align: center;
  line-height: 1em;
}

#introduction p {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

/*  styling the teamwork section of the about page */

#Teamwork {
  background: orangered;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#Teamwork h2 {
  text-align: center;
  line-height: 1em;
}

#Teamwork .teampics {
  text-align: center;
}

#Teamwork .teampics img {
  height: auto;
  width: auto;
  margin: 15px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/*   styling the contact page   */

#contact {
  background-image: url("./images/snow.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
  height: 65em;
}

#contact-people {
  width: 100%;
  background: rgba(255, 137, 28, 0.808);
  text-align: center;
  overflow: scroll;
  height: 60em;
}

.column-half {
  display: inline-block;
  color: black;
  float: left;
}

.column-half img {
  max-width: 100%;
}

.column-half h3 {
  color: black;
  font-weight: bold;
}

#cuerpo {
  background: orangered;
  border: #ffffff solid 3px;
  max-width: 80%;
  margin: auto;
  padding: 0;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img {
  cursor: pointer;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media (max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}
