/*  General   */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Styling the header */

header {
  background-color: #155f8d;
  border-bottom: 3px orangered solid;
  min-height: 120px;
}

header #branding {
  float: left;
  margin-left: 50px;
  margin-top: 25px;
}

#branding .highlight {
  color: orangered;
}

header nav {
  float: right;
  margin-top: 50px;
  margin-right: 60px;
}

header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header ul li {
  display: inline;
  padding: 15px;
}

header a:hover {
  font-weight: bold;
  color: orangered;
}

/*  Styling the showecase */

#showcase h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 150px;
  line-height: 33px;
}

#showcase {
  background-image: url("./images/image1.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/*  Styling the boxes  */

#boxes {
  background-color: rgb(4, 36, 78);
}

#boxes .box {
  width: 100%;
  margin: 1%;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  #boxes .box {
    width: 30%;
  }
}

img {
  max-width: 100%;
}

/*   styling the first section of text   */

#first-section {
  background: #155f8d;
  height: 400px;
  padding-top: 10px;
}

#first-section h1 {
  text-align: center;
  text-transform: uppercase;
}

#first-section p {
  font-size: 20px;
  line-height: 25px;
}

/*  styling the about page   */

#introduction {
  background: #155f8d;
  padding-top: 15px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#introduction img {
  height: 500px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#introduction h2 {
  color: white;
  text-align: center;
}

#introduction p {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

/*  styling the teamwork section of the about page */

#Teamwork {
  background: orangered;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#Teamwork h2 {
  text-align: center;
}

#Teamwork .teampics {
  text-align: center;
}

#Teamwork .teampics img {
  height: 650px;
  width: 650px;
  margin: 15px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}